<div (click)="recipeWasSelected(item)" class="card-container">
    
    <p>{{item.name}}</p>

</div>

<div class="card border-0">
    <div class="position-relative">

    </div>
    <div class="card-body">
      <div class="mb-3"><a class="card-link text-primary read-more" href="javascript://">Read More</a></div>
      <h5 class="card-title">Card title</h5>
      <hr>
      <p class="card-text">Minim dolor in amet nulla laboris enim dolore consequat proident fugiat culpa eiusmod proiden.</p>
    </div>
    <div class="card-footer">
      <div class="media align-items-center">
        <div class="media-body"><a class="card-link text-uppercase" href="javascript://">Read More</a></div>
        <div class="footerright">
          <div class="tnlink3"><i class="fas fa-heart" aria-hidden="true"></i></div>
          <div class="tnlink3"><i class="fas fa-share-nodes" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>